* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(201, 204, 230);
  color: #212121;
  line-height: 1.5;
  overflow-y: scroll;
  overflow-x: hidden;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
input {
  font-size: 15px;
  border-radius: 5px;
  outline: solid 2px #422800;
  height: 40px;
  background-color: rgb(201, 204, 230);
}

/* Button */
button {
  background-color: rgb(201, 204, 230);
  border: 2px solid #422800;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
}

button:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  button {
    min-width: 120px;
    padding: 0 25px;
  }
}

#search-form {
  font: inherit;
  max-width: 320px;
}

.logo {
  width: 200px;
}

.search-container {
  display: flex;
  align-items: center;

  border-radius: 5px;
  padding: 10px;
}

.form-container {
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-right: -20px;
  margin-bottom: -20px;
  padding: 10px;
}

/* .portfolio-card-bottom {
  padding: 20px 24px;
} */

.photo-card {
  flex-basis: calc(100% / 4 - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  padding: 5px;
  background: var(--white-font-color);
  border: 1px solid #eeeeee;
  border-radius: 5px;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover,
.photo-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.info {
  display: flex;
  justify-content: space-between;
}

info-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
